<!DOCTYPE html>

<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{{template "static.html" .}}
</head>

<body>
	{{template "user_logout.html" .}}

	<ul class="list-group">
		<li class="list-group-item">ID: {{ .user.Id }}</li>
		<li class="list-group-item">Name: {{ .user.Name }}</li>
		<li class="list-group-item">Age: {{ .user.Age }}</li>
		<li class="list-group-item">Email: {{ .user.Email }}</li>
		<li class="list-group-item"><a href='{{ urlfor "HtmlUserController.List" }}'>返回 <span class="glyphicon glyphicon-hand-left"></span></a></li>
	</ul>
</body>
</html>
