{{ template "base.html" .}}

{{ define "css" }}{{ end }}

{{ define "content" }}
	<ul class="list-group">
		<li class="list-group-item">ID: {{ .user.Id }}</li>
		<li class="list-group-item">Name: {{ .user.Name }}</li>
		<li class="list-group-item">Age: {{ .user.Age }}</li>
		<li class="list-group-item">Email: {{ .user.Email }}</li>
		<li class="list-group-item"><a href='{{ urlfor "HtmlUserController.List" }}'>返回 <span class="glyphicon glyphicon-hand-left"></span></a></li>
	</ul>
{{ end }}

{{ define "js" }}{{ end }}